/*  Header */
.header {
  &__container {
    position: relative;
    margin: 20px;

    @media (min-width: 992px) {
      margin-right: 50px;
    }
  }

  &__navigation {
    display: none;

    @media (min-width: 992px) {
      display: block;
    }

    ul {
      padding-left: 0;

      @media (min-width: 992px) {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }

      li {
        font-family: $font-primary;
        list-style-type: none;

        @media (min-width: 992px) {
          display: flex;
          padding-left: 50px;
        }

        a {
          text-decoration: none;
          font-weight: 700;
          color: #2c2c2c;
          line-height: 50px;

          @media (min-width: 992px) {
            white-space: nowrap;
          }
        }
      }
    }

    @media (min-width: 992px) {
      .header__nav-link:not(:last-child) {
        border-right: 1px solid #bdbebd;
        padding-right: 20px;
      }
    }
  }

  // Buttons
  &__btns {
    display: flex;
    align-items: stretch;
    white-space: nowrap;
    padding-top: 20px;
    border-top: 1px solid #bdbebd;

    @media (min-width: 992px) {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0;
      border-top: none;
    }

    button {
      display: inline-block;
      max-height: 58px;
      padding: 10px 18px;
      font-family: $font-primary;
      font-size: 16px;
      font-weight: 700;
      border-radius: 10px;
      transition: 0.2s ease all;

      @media (min-width: 992px) {
        padding: 10px 20px;
      }
    }
  }

  &__btn_start {
    width: 50%;
    color: aliceblue;
    background-color: #e34432;
    border: #e34432;
    white-space: wrap;

    @media (min-width: 992px) {
      width: 182px;
      max-width: 100%;
      white-space: nowrap;
    }

    &:hover {
      background-color: rgb(178, 34, 34);
    }
  }

  &__btn_login {
    width: 50%;
    margin-right: 10px;
    color: #2c2c2c;
    background-color: #e7e6e4;
    border: #e7e6e4;

    @media (min-width: 992px) {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 16px 19px 0 19px;
      font-family: $font-primary;
      font-weight: 700;
      color: #2c2c2c;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    &:hover {
      background-color: #a3a3a3;

      @media (min-width: 992px) {
        background-color: transparent;
        pointer-events: none;
      }
    }
  }
}

/* Burger */
.burger {
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  width: 40px;
  background-color: white;
  border: white;
  cursor: pointer;

  @media (min-width: 992px) {
    display: none;
  }

  &:hover {
    background-color: #e7e6e4;
    border: #e7e6e4;
    border-radius: 15%;
  }
}

.burger__lines {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 18px;
  z-index: 50;

  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 80%;
    background-color: #2c2c2c;
    transition: 0.2s ease all;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  span {
    height: 2px;
    width: 80%;
    background-color: #2c2c2c;
    transform: scale(1);
  }
}

.open-menu {
  @media (max-width: 576px) {
    .header__container {
      left: 20px;
      top: 20px;
      height: 100%;
      padding-right: 20px;
      background-color: white;
      z-index: 3;
      overflow-x: hidden;

      .burger {
        right: 30px;
      }
    }
  }

  .header__navigation {
    position: relative;
    display: block;
  }

  .burger__lines {
    &::before {
      top: 50%;
      transform: rotate(-45deg) translate(0, -50%);
    }

    &::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0, 50%);
    }

    span {
      transform: scale(0);
    }
  }

  @media (max-width: 576px) {
    .to-do-list__container {
      display: none;
    }
  }
}