@import url(https://fonts.cdnfonts.com/css/helmet);
@import url(https://fonts.cdnfonts.com/css/bonheur-royale);
@charset "UTF-8";
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp, pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * Known issues:
 * - `select`:
 *   By default, Chrome on OS X and Safari on OS X allow very limited styling of
 *   select, unless a border property is set. The default font weight on
 *   optgroup elements cannot safely be changed in Chrome on OSX and Safari on
 *   OS X.
 * - `[type="checkbox"]`:
 *   It is recommended that you do not style checkbox and radio inputs as
 *   Firefox's implementation does not respect box-sizing, padding, or width.
 * - `[type="number"]`:
 *   Certain font size values applied to number inputs cause the cursor style of
 *   the decrement button to change from `default` to `text`.
 * - `[type="search"]`:
 *   The search input is not fully stylable by default. In Chrome and Safari on
 *   OSX/iOS you can't control `font`, `padding`, `border`, or `background`. In
 *   Chrome and Safari on Windows you can't control `border` properly. It will
 *   apply `border-width` but will only show a border color (which cannot be
 *   controlled) for the outer 1px of that border. Applying
 *   `-webkit-appearance: textfield` addresses these issues without removing the
 *   benefits of search inputs (e.g. showing past searches). Safari (but not
 *   Chrome) will clip the cancel button on when it has padding (and `textfield`
 *   appearance).
 * - `::placeholder`:
 *   In Edge, placeholders will disappear on `relative` or `absolute` positioned
 *   `<input>` elements if you use `opacity` less than `1` due to a
 *   [bug](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/3901363/).
 */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  line-height: 1.15; /* 1 */
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  color: inherit; /* 2 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  height: 100%;
}

body {
  overflow-x: hidden;
}

/*  Header */
.header__container {
  position: relative;
  margin: 20px;
}

.header__navigation {
  display: none;
}
.header__navigation ul {
  padding-left: 0;
}
.header__navigation ul li {
  list-style-type: none;
  font-family: "Helmet", Arial, sans-serif;
}
.header__navigation ul li a {
  text-decoration: none;
  color: #2c2c2c;
  font-weight: 700;
  line-height: 50px;
}

.header__buttons {
  display: flex;
  white-space: nowrap;
  border-top: 1px solid #bdbebd;
  padding-top: 20px;
  align-items: stretch;
}
.header__buttons button {
  display: inline-block;
  font-family: "Helmet", Arial, sans-serif;
  font-size: 16px;
  padding: 10px 18px;
  border-radius: 10px;
  transition: 0.2s ease all;
  font-weight: 700;
  max-height: 58px;
}

.header__button-start {
  background-color: #e34432;
  border: #e34432;
  width: 50%;
  color: aliceblue;
  white-space: wrap;
}
.header__button-start:hover {
  background-color: rgb(178, 34, 34);
}

.header__button-login {
  background-color: #e7e6e4;
  border: #e7e6e4;
  margin-right: 10px;
  width: 50%;
  color: #2c2c2c;
}
.header__button-login:hover {
  background-color: #a3a3a3;
}

/* Burger */
.burger {
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  width: 40px;
  border: white;
  background-color: white;
  cursor: pointer;
}
.burger:hover {
  border: #e7e6e4;
  background-color: #e7e6e4;
  border-radius: 15%;
}

.burger__lines {
  display: flex;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 18px;
}
.burger__lines::before, .burger__lines::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 80%;
  background-color: #2c2c2c;
  transition: 0.2s ease all;
}
.burger__lines::before {
  top: 0;
}
.burger__lines::after {
  bottom: 0;
}
.burger__lines span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #2c2c2c;
}

.open-menu .header__navigation {
  display: block;
  position: relative;
}
.open-menu .burger__lines::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
.open-menu .burger__lines::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}
.open-menu .burger__lines span {
  transform: scale(0);
}

@media (min-width: 992px) {
  /* Burger */
  .burger {
    display: none;
  }
  /*  Header */
  .header__container {
    margin-right: 50px;
  }
  .header__navigation {
    display: block;
  }
  .header__navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .header__navigation ul li {
    padding-left: 50px;
    display: flex;
  }
  .header__navigation ul li a {
    white-space: nowrap;
  }
  .header__nav-link_last {
    border-right: 1px solid #bdbebd;
    padding-right: 20px;
  }
  .header__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-top: none;
    padding: 0;
  }
  .header__buttons button {
    padding: 10px 20px;
  }
  .header__button-start {
    width: 182px;
    max-width: 100%;
    white-space: nowrap;
  }
  .header__button-login {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 16px 19px 0 19px;
    color: #2c2c2c;
    font-weight: 700;
    font-family: "Helmet", Arial, sans-serif;
  }
  .header__button-login:hover {
    pointer-events: none;
    background-color: transparent;
  }
}
@media (max-width: 576px) {
  .open-menu .header__container {
    height: 100%;
    background-color: white;
    left: 20px;
    top: 20px;
    z-index: 3;
    overflow-x: hidden;
    padding-right: 20px;
  }
  .open-menu .header__container .burger {
    right: 30px;
  }
  .open-menu .to-do-list__container {
    display: none;
  }
}
.to-do-list__container {
  padding-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
.to-do-list__content {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  max-width: 960px;
  color: #2c2c2c;
  font-family: "Bonheur Royale", monospace;
  background-color: #ffe9f4;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.to-do-list__content input {
  height: 20px;
  width: 1000px;
  max-width: 100%;
  border: 1px solid #bdbebd;
  font-size: 16px;
  font-family: "Bonheur Royale", monospace;
}
.to-do-list__content p {
  padding-bottom: 10px;
  margin-top: 4px;
}
.to-do-list__title {
  text-align: center;
  border-bottom: 1px solid #bdbebd;
}
.to-do-list__title h4 {
  border-top: 1px solid #bdbebd;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
}
.to-do-list__affairs {
  display: flex;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.to-do-list__affairs li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.to-do-list__check {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}
.to-do-list__check button {
  cursor: pointer;
}
.to-do-list__check_background {
  background-color: white;
  width: 29px;
  height: 29px;
  border-radius: 15%;
  margin-left: 15px;
  border: #bdbebd;
}
.to-do-list__check_background:last-child {
  margin-right: 15px;
}
.to-do-list__check_mark {
  display: inline-block;
  width: 5px;
  height: 18px;
  border: solid #c0e4b7;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
  background-color: transparent;
  margin-bottom: 10px;
  margin-left: 3px;
}
.to-do-list__check_mark:hover {
  border-color: #00bd03;
}
.to-do-list__cross {
  width: 21px;
  height: 21px;
  border: #f094a0;
  background-color: #f094a0;
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  margin-top: 2px;
}
.to-do-list__cross:hover {
  background-color: #ec4a09;
}
.to-do-list__add_task {
  width: 120px;
  height: 43px;
  padding: 0;
  border-radius: 25px;
  margin-bottom: 20px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: #ffb8c6;
  cursor: pointer;
  font-weight: 600;
}
.to-do-list__add_task:hover {
  background-color: #e39eac;
}
