.to-do-list {
  &__container {
    margin: 0 20px;
    padding-top: 50px;
  }

  // Content
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 960px;
    margin: 20px auto 0 auto;
    padding: 0 20px;
    font-family: $font-primary;
    color: #2c2c2c;
    background-color: #ffe9f4;

    input {
      height: 20px;
      width: 1000px;
      max-width: 100%;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      border: 1px solid #bdbebd;
    }

    p {
      padding-bottom: 10px;
      margin-top: 4px;
    }

    label {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }

  &__title {
    text-align: center;
    border-bottom: 1px solid #bdbebd;

    p {
      padding: 15px 0;
      margin: 0;
      font-weight: 700;
      border-top: 1px solid #bdbebd;
    }
  }

  &__filter {
    text-align: center;

    input[type='radio'] + label {
      display: inline-block;
      text-align: right;
      padding: 0;
      margin: 0 10px 0 0;
    }

    input[type='radio'] {
      display: inline-block;
      visibility: hidden;
    }

    input[type='radio']:checked + label {
      border-bottom: 2px solid #e39eac;
    }

    label:hover {
      color: #db7093;
    }
  }

  &__affairs {
    display: flex;
    flex-direction: column;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    gap: 16px;

    li {
      display: flex;
      flex-direction: row;
      width: 100%;
      list-style-type: none;
    }
    // JS
    &[data-filter='ready'] {
      .to-do-list__item:not(.to-do-list__item_complete) {
        display: none;
      }
    }

    &[data-filter='not-ready'] {
      .to-do-list__item_complete {
        display: none;
      }
    }
  }

  // Buttons
  &__check {
    display: flex;
    flex-direction: row;
    margin-left: auto;

    button {
      cursor: pointer;
    }
  }

  &__check_background {
    position: relative;
    width: 29px;
    height: 29px;
    margin-left: 15px;
    background-color: white;
    border: #bdbebd;
    border-radius: 15%;

    &:hover {
      border: 1px solid #bdbebd;
      background-color: #dedede;
    }
  }

  &__check_background-mark {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzVfNTE3KSI+CjxwYXRoIGQ9Ik0xNi41OSA3LjU4TDEwIDE0LjE3TDYuNDEgMTAuNTlMNSAxMkwxMCAxN0wxOCA5TDE2LjU5IDcuNThaTTEyIDJDNi40OCAyIDIgNi40OCAyIDEyQzIgMTcuNTIgNi40OCAyMiAxMiAyMkMxNy41MiAyMiAyMiAxNy41MiAyMiAxMkMyMiA2LjQ4IDE3LjUyIDIgMTIgMlpNMTIgMjBDNy41OCAyMCA0IDE2LjQyIDQgMTJDNCA3LjU4IDcuNTggNCAxMiA0QzE2LjQyIDQgMjAgNy41OCAyMCAxMkMyMCAxNi40MiAxNi40MiAyMCAxMiAyMFoiIGZpbGw9IiMzMjMyMzIiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF81XzUxNyI+CjxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0id2hpdGUiLz4KPC9jbGlwUGF0aD4KPC9kZWZzPgo8L3N2Zz4K');
    background-repeat: no-repeat;
    background-position: center;
  }

  &__check_background-cross {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTYgMTlDNiAyMC4xIDYuOSAyMSA4IDIxSDE2QzE3LjEgMjEgMTggMjAuMSAxOCAxOVY3SDZWMTlaTTE5IDRIMTUuNUwxNC41IDNIOS41TDguNSA0SDVWNkgxOVY0WiIgZmlsbD0iIzMyMzIzMiIvPgo8L3N2Zz4K');
    background-repeat: no-repeat;
    background-position: center;
  }

  &__check_background-edit {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzNfMTMpIj4KPHBhdGggZD0iTTMgMTcuMjVWMjFINi43NUwxNy44MSA5Ljk0TDE0LjA2IDYuMTlMMyAxNy4yNVpNMjAuNzEgNy4wNEMyMS4xIDYuNjUgMjEuMSA2LjAyIDIwLjcxIDUuNjNMMTguMzcgMy4yOUMxNy45OCAyLjkgMTcuMzUgMi45IDE2Ljk2IDMuMjlMMTUuMTMgNS4xMkwxOC44OCA4Ljg3TDIwLjcxIDcuMDRaIiBmaWxsPSIjMzIzMjMyIi8+CjwvZz4KPGRlZnM+CjxjbGlwUGF0aCBpZD0iY2xpcDBfM18xMyI+CjxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0id2hpdGUiLz4KPC9jbGlwUGF0aD4KPC9kZWZzPgo8L3N2Zz4K');
    background-repeat: no-repeat;
    background-position: center;
  }

  &__task_add {
    width: 120px;
    height: 43px;
    padding: 0;
    margin-bottom: 20px;
    font: inherit;
    color: inherit;
    background-color: #ffb8c6;
    border: none;
    border-radius: 25px;
    cursor: pointer;

    &:hover {
      background-color: #e39eac;
    }
  }

  // JS
  &__item_complete {
    text-decoration: line-through;
  }
}
