.to-do-list {
  &__container {
    margin: 0 20px;
    padding-top: 50px;
  }

  // Content
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 960px;
    margin: 20px auto 0 auto;
    padding: 0 20px;
    font-family: $font-primary;
    color: #2c2c2c;
    background-color: #ffe9f4;

    input {
      height: 20px;
      width: 1000px;
      max-width: 100%;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      border: 1px solid #bdbebd;
    }

    p {
      padding-bottom: 10px;
      margin-top: 4px;
    }
  }

  &__title {
    text-align: center;
    border-bottom: 1px solid #bdbebd;

    h4 {
      padding: 15px 0;
      margin: 0;
      border-top: 1px solid #bdbebd;
    }
  }

  &__affairs {
    display: flex;
    flex-direction: column;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    gap: 16px;

    li {
      display: flex;
      flex-direction: row;
      width: 100%;
      list-style-type: none;
    }
  }

  // Buttons
  &__check {
    display: flex;
    flex-direction: row;
    margin-left: auto;

    button {
      cursor: pointer;
    }
  }

  &__check_background {
    position: relative;
    width: 29px;
    height: 29px;
    margin-left: 15px;
    background-color: white;
    border: #bdbebd;
    border-radius: 15%;

    &:last-child {
      margin-right: 15px;
    }

    &:hover {
      border: 1px solid #bdbebd;

      .to-do-list__check_mark {
        border-color: #00bd03;
      }

      .to-do-list__cross {
        background-color: #ec4a09;
      }
    }
  }

  &__check_mark {
    display: inline-block;
    width: 5px;
    height: 18px;
    margin: 0 0 10px 3px;
    background-color: transparent;
    border: solid #c0e4b7;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
  }

  &__cross {
    width: 1.17em;
    height: 1.17em;
    background-color: #f094a0;
    border: #f094a0;
    clip-path: polygon(20% 0%,
        0% 20%,
        30% 50%,
        0% 80%,
        20% 100%,
        50% 70%,
        80% 100%,
        100% 80%,
        70% 50%,
        100% 20%,
        80% 0%,
        50% 30%);
  }

  &__edit {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -4px;
    right: 0;
    margin: auto;

    &:hover {
      filter: brightness(0) saturate(100%) invert(16%) sepia(92%) saturate(7268%) hue-rotate(0deg) brightness(95%) contrast(70%);
    }
  }

  &__add_task {
    width: 120px;
    height: 43px;
    padding: 0;
    margin-bottom: 20px;
    font: inherit;
    color: inherit;
    background-color: #ffb8c6;
    border: none;
    border-radius: 25px;
    cursor: pointer;


    &:hover {
      background-color: #e39eac;
    }
  }

  // JS
  &__item_complete {
    text-decoration: line-through;

  }

}